@font-face {
  font-family: "Acumin italic";
  font-style: italic;
  font-weight: normal;
  src: url(../assets/fonts/Acumin-Italic.otf);
}

@font-face {
  font-family: "Acumin Bold italic";
  font-style: italic;
  font-weight: bold;
  src: url(../assets/fonts/Acumin-Bold-italic.otf);
}

@font-face {
  font-family: "Acumin Bold";
  font-weight: bold;
  src: url(../assets/fonts/Acumin-Bold.otf);
}

@font-face {
  font-family: "Acumin";
  font-weight: normal;
  src: url(../assets/fonts/Acumin-Regular.otf);
}

@font-face {
  font-family: "Montserrat Light";
  font-weight: 300;
  src: url(../assets/fonts/Montserrat-Light.ttf);
}

@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  src: url(../assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat Semi Bold";
  font-weight: 600;
  src: url(../assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Montserrat Bold";
  font-weight: bold;
  src: url(../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "Montserrat italic";
  font-style: italic;
  font-weight: normal;
  src: url(../assets/fonts/Montserrat-Italic.ttf);
}
