@import "./fonts.scss";

// $primary-color-dark: #0288d1;
// $primary-color: #03a9f4;
// $primary-color-light: #b3e5fc;
// $primary-color-text: #ffffff;
// $accent-color: #00bcd4;
// $primary-text-color: #212121;
// $secondary-text-color: #757575;
// $divider-color: #bdbdbd;

$primary-color-dark: #ffa000;
$primary-color: #ffc107;
$primary-color-light: #ffecb3;
$primary-color-text: #212121;
$accent-color: #009688;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #bdbdbd;
